#loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
}

#canvas {
    width: 100%;
}

#output_old {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    padding-bottom: 0;
}

#output {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: white;
    top: 0;
    left: 0;
}

#output div {
    padding-bottom: 10px;
    word-wrap: break-word;
}

#noQRFound {
    text-align: center;
}


.redbg {
    background: red !important;
}